@font-face {
  font-family: "Harmond";
  src: url("/Harmond-ExtraBoldExpanded.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Harmond;
}

body,
html {
  overscroll-behavior: none;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}

a,a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:inherit;
}

main {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1.text-blanc {
  position: absolute;
  z-index: 10;
  color: #ffffff;
  text-decoration: none;
}

h1.text-gris {
  position: absolute;
  z-index: 10;
  color: #999;
  text-decoration: none;
}

img {
  position: absolute;
  /* height: 60%; */
  visibility: hidden;
}

.scrollable img{
  max-width: 70vw;
  max-height: 60%;
  /* min-height: 40vh; */
  /* object-fit: cover; */
  object-position: 50 50;
}

canvas {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}


@media (min-width: 900px) {
  h1{
    top: 60%;
    left: 55%;
  }

  .link{
    position:fixed;
    /* top: 11vh;
        left: 0vh; */
  }
}

@media (max-width: 900px) {
  h1{
  top: 70%;
  left: 10vh;
  /* margin:0 10vh; */
  }

  .link{
    position:absolute;
  }
}


